/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #FC4C02;
  --first-color-light: #FEA766;
  --white-color: #F7F6FB;

  --text-color: #8FA2B3;
  --text-color-primary: #223245;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: #ECF2F6;
}

a {
  text-decoration: none;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  /*height: var(--header-height);*/
  height: 8em !important;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: white;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle {
  color: #90A2B3;
  font-size: 1rem;
  cursor: pointer;
}

.bx-menu {
  background-color: #EDF3F7;
  border-radius: 50%;
  border: 1px solid #EDF3F7;
  padding: .2rem;
}

.header__link {
  font-size: 0.8rem !important;
  padding: 0 0 0 1em;
  color: #8FA2B3;
  font-weight: 600;
}

.icon_chevron {
  height: 20px !important;
  width: 20px !important;
  padding-top: 8px;
  color: #C5D4E0;
}

.header__link-result {
  font-size: 0.8rem !important;
  padding: 0 .5em 0 0;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 700;
}

.nav__link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__icon {
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show {
  left: 0;
}

/*Add padding body movil*/
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
  color: var(--white-color);
}


/* ===== ITEMS=====*/
.btn__align1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em 0 0 1.5em;
  background-color: #F6F9FB;
  padding: 0 1em;
  border: #E9EFF5 2px solid;
}

.btn__align1>p {
  font-size: .8em;
  color: #8FA2B3;
}

.btn__align2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 1.5em 1.5em 0;
  background-color: #F6F9FB;
  padding: 0 1em;
  border-top: 2px solid #E9EFF5;
  border-right: 2px solid #E9EFF5;
  border-bottom: 2px solid #E9EFF5;
}

.btn__align2>p {
  font-size: .8em;
  color: #8FA2B3;
}

.btn__group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn__line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon__btn {
  height: 1.3em !important;
  width: 1.3em !important;
  padding-right: .3em;
  color: #8FA2B3;
}

.btn__primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
  background-color: var(--first-color);
  padding: 0 1em;
  margin-left: 1em;
}

.btn__primary>p {
  font-size: .8em;
  color: white;
}

.icon__primary {
  height: 1.3em !important;
  width: 1.3em !important;
  padding-right: .3em;
  color: white;
}

/* ===== MAIN CONTENT=====*/

.content {
  padding-top: calc(var(--header-height) + 1em);
  display: flex;
}

.separateur {
  width: 2px;
  background-color: #C5D4E0;
  margin: 0 0 0 20px;
}

.filter {
  width: 30%;
  padding-top: 10px;
}

.filter__title-container {
  display: flex;
  justify-content: space-between;
}

.filter__title {
  color: #8FA2B3;
}

.filter__init {
  display: flex;
  align-items: center;
}

.filter__init-title {
  font-size: 1em;
}

.search {
  width: 70%;
  padding-left: 20px;
  padding-top: 15px;
}

.search__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: .5em;
  overflow: hidden;
}

.search__input-zone {
  padding: 1em;
}

.input__search {
  border: 0;
  font-size: 1em;
  width: 600px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.icon__btn-input {
  height: 1.5em !important;
  width: 1.5em !important;
  padding-right: .3em;
  color: #8FA2B3;
}

.search_input-button {
  display: flex;
  align-items: center;
  background-color: #FC4C02;
  padding: 0 1em;
}

.search__result-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.results {
  display: flex;
  flex-direction: column;
}

.results__title {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-color-primary);
  margin: 0 !important;
}

.results__description {
  font-size: .9em;
  color: var(--text-color);
  margin: 0 !important;
}

.results__elus {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.elus__cards {
  padding: 1em;
  background-color: white;
  border-radius: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

.elus__name>p {
  margin: 0;
  font-weight: 600;
  font-size: 1.1em;
}

.staff {
  display: flex;
  flex-direction: column;
}

.staff__container {
  display: flex;
  align-items: center;
}

.staff__container>h3 {
  font-size: .9em;
  margin: 0;
}

.staff__container>p {
  font-size: .9em;
  margin: 0;
}

.appearance {
  display: flex;
  flex-direction: column;
}

.appearance>h3 {
  margin: 0;
}

.appearance>p {
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.previous {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.next {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.pages {
  padding-right: 1em;
}

.pages>a {
  color: #8FA2B3;
  padding-right: 8px;
}

.active-link {
  color: #FC4C02 !important;
}

.icon__previous {
  height: 1.3em !important;
  width: 1.3em !important;
  padding-right: .3em;
  color: var(--text-color);
}

.btn__previous {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: .8rem;
  background-color: white;
  padding: 0 1em;
  margin-left: 1em;
  color: var(--text-color);
}

.icon__next {
  height: 1.3em !important;
  width: 1.3em !important;
  padding-left: .3em;
  color: white;
}

.btn__next {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: .8rem;
  background-color: var(--first-color);
  padding: 0 1em;
  margin-right: 1em;
  color: white;
}


/* Filters */

.filters {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.filters__dropdown {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.filters__heading {
  font-size: .9em;
  font-weight: 600;
  color: var(--text-color);
  margin: 0 !important;
}

.geo__filter {
  padding: 1.2em 1em;
  background-color: white;
  border-radius: 9px;
}

.geo__filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.geo__filter-title>h3 {
  font-weight: 400;
  font-size: .9em;
  margin: 0;
}

.divider-h {
  width: 100%;
  height: 2px;
  background-color: #EDF3F7;
  margin: 0 10px 10px 0;
}

.divider-l {
  width: 100%;
  height: 2px;
  background-color: #EDF3F7;
  margin: 10px 10px 0 0;
}

.geo__search {
  padding: 1em;
  border-radius: .9em;
  background-color: #F7FAFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.geo__search-input {
  border: none;
  width: 100%;
  font-size: .9em;
  background-color: transparent;
}

.ajustement {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* DROPDOWN */

.dropdown {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: .5em;
}

.dd-button {
  display: inline-block;
  width: 100%;
  color: var(--text-color-primary);
  border-radius: 9px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  width: 100%;
}

.dd-input+.dd-menu {
  display: none;
}

.dd-input:checked+.dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/* 2 */
.dropdown_2 {
  display: inline-block;
  position: relative;
}

.dd-button_2 {
  display: inline-block;
  width: 100%;
  color: var(--text-color-primary);
  border-radius: 9px;
  padding: 10px 30px 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button_2:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-input_2 {
  display: none;
}

.dd-menu_2 {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-size: .9em;
  list-style-type: none;
  width: 100%;
}

.dd-input_2+.dd-menu_2 {
  display: none;
}

.dd-input_2:checked+.dd-menu_2 {
  display: block;
}

.dd-menu_2 li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu_2 li:hover {
  background-color: #f6f6f6;
}

.dd-menu_2 li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.actived {
  display: block;
}

.checkbox:checked:before {
  background-color: green;
}